/* Main Content CSS */
#main-content {
}
/* General CSS */
body {
  background: linear-gradient(351.22deg, #1a1a1a 55.25%, #2b2b2b 96.61%);
  min-height: 200svh;
  margin: 0;
  font-family: Montserrat, sans-serif;
}
button {
  font-family: Montserrat, sans-serif;
}
:root {
  --color-orange: #ff5c00;
  --color-black: #1d1d1d;
}
