/* Main Content CSS */
#main-content {
}
.section-title {
  font-weight: 500;
  font-size: 1.5rem;
  color: var(--color-orange);
}
/* Arrow General CSS */
.arrow-button {
  display: flex;
  z-index: 5000;
  position: absolute;
  background-color: rgba(9, 8, 8, 0.7);
  border: none;
  border-radius: 100px;
  height: 40px;
  width: 40px;
  justify-content: center;
  cursor: pointer;
}

.arrow-button--right {
  right: 3%;
  top: 60%;
  padding: 14px 4px 0 0;
}

.arrow-button--left {
  display: none;
  left: 3%;
  top: 60%;
  padding: 14px 0 0 4px;
}

.arrow-right,
.arrow-left {
  display: block;
  width: 10px;
  height: 10px;
  border-top: 3px solid var(--color-orange);
  border-left: 3px solid var(--color-orange);
}

.arrow-right {
  transform: rotate(135deg);
}

.arrow-left {
  transform: rotate(-45deg);
}

/* Spring Section CSS */
#section-spring-releases {
  padding: 3rem 0 0 4rem;
  position: relative;
}
.spring-game-carousel {
  position: relative;
  list-style: none;
  display: flex;
  gap: 3rem;
  padding: 2rem 0 0 0;
  margin: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
.spring-game-carousel .card {
  position: relative;
  display: flex;
  background: rgba(111, 111, 111, 0.18);
  border-radius: 10px;
  width: 25%;
  min-width: 350px;
  max-width: 350px;
  max-height: 460px;
  padding: 1rem;
  gap: 1rem;
  cursor: pointer;
}
.spring-game-carousel .card-game-info {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 0.4rem;
}
.spring-game-carousel .card-game-combinedinfo {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.spring-game-carousel .card-game-studio,
.spring-game-carousel .card-game-release {
  font-weight: 300;
  font-size: 1rem;
  color: var(--color-gray);
}
.spring-game-carousel .card-game-title {
  font-weight: 500;
  font-size: 1.25rem;
  color: var(--color-white);
}
.spring-game-carousel .card-game-img {
  width: 45%;
  height: 100%;
  object-fit: cover;
  object-position: top;

  border-radius: 10px;
  max-width: 164px;
  max-height: 200px;
}
/* Popular Reviews Section */
#section-reviews {
  padding: 3rem 0 0 4rem;
  position: relative;
}
.reviews-carousel {
  position: relative;
  list-style: none;
  display: flex;
  gap: 3rem;
  padding: 2rem 0 0 0;
  margin: 0;
  overflow-x: hidden;
}
.reviews-carousel .card {
  position: relative;
  display: flex;
  flex-direction: column;
  background: rgba(111, 111, 111, 0.18);
  border-radius: 10px;
  width: 25%;
  min-width: 350px;
  max-width: 350px;
  max-height: 250px;
  padding: 1rem;
  gap: 1rem;
  cursor: pointer;
}
.reviews-carousel .card-game-img {
  height: 65%;
  object-fit: cover;
  border-radius: 10px;
}
.reviews-carousel .card-game-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.reviews-carousel .card-game-title {
  width: 100%;
  color: var(--color-white);
  font-weight: 500;
  font-size: 1.25rem;
}
.reviews-carousel .card-game-combinedinfo {
  display: flex;
  justify-content: space-between;
}
.reviews-carousel .card-game-reviewer,
.reviews-carousel .card-game-review {
  color: var(--color-gray);
  font-weight: 300;
  font-size: 1rem;
}
/* Animations */

/* General CSS */
.is-hidden {
  display: none;
}
body {
  background: linear-gradient(351.22deg, #1a1a1a 55.25%, #2b2b2b 96.61%);
  min-height: 200svh;
  margin: 0;
  font-family: Montserrat, sans-serif;
  scroll-behavior: smooth;

  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}
button {
  font-family: Montserrat, sans-serif;
}
:root {
  --color-orange: #ff5c00;
  --color-black: #1d1d1d;
  --color-white: #fafafa;
  --color-gray: #8c8c8c;
}
